{% extends "layout.twig" %}

{% block content %}
<div>	
	<div class="small-screen" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height" style="margin-bottom: 10px;">Tanggal Pembukaan</h2>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">PSB Online Santi Asromo akan dibuka pada <br><span class="fonts fonts-16px grey semibold">{{tanggal_pembukaan | strftime('%A, %d %B %Y')}}</span></p>
                </div>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
        <div class="display-flex space-between cd100">
            <div style="padding: 15px; width: calc(100% - 30px);">
				<div class="card box-shadow content-center">
					<div class="fonts fonts-32 black semibold center days" style="margin-bottom: 5px;"></div>
					<div class="fonts fonts-11 center black regular">Hari</div>
				</div>
            </div>

            <div style="padding: 15px; width: calc(100% - 30px);">
				<div class="card box-shadow content-center">
					<div class="fonts fonts-32 black semibold center hours" style="margin-bottom: 5px;"></div>
					<div class="fonts fonts-11 center black regular">Jam</div>
				</div>
            </div>

            <div style="padding: 15px; width: calc(100% - 30px);">
				<div class="card box-shadow content-center">
					<div class="fonts fonts-32 black semibold center minutes" style="margin-bottom: 5px;"></div>
					<div class="fonts fonts-11 center black regular">Menit</div>
				</div>
            </div>

            <div style="padding: 15px; width: calc(100% - 30px);">
				<div class="card box-shadow content-center">
					<div class="fonts fonts-32 black semibold center seconds" style="margin-bottom: 5px;"></div>
					<div class="fonts fonts-11 center black regular">Detik</div>
				</div>
			</div>
        </div>
        <div class="display-flex center" style="padding-top: 30px;">
            <a href="{{base_url()}}/brosur/BROSUR_ASROMO_1.pdf" target="_blank">
                <button class="btn btn-sekunder">
                    <i class="icn icn-left fa fa-lw fa-file"></i>
                    Download Brosur Terbaru
                </button>
            </a>
        </div>
    </div>
	{# <div class="bg-img1 size1 overlay1">
		<div class="size1 p-l-15 p-r-15 p-t-30 p-b-50">
			<br>
			<br>
			<br>
			<div class="wsize1 m-lr-auto">
				<p class="txt-center l1-txt1 p-b-60">
					PSB Online Santi Asromo akan dibuka pada <span class="l1-txt2">{{tanggal_pembukaan | strftime('%A, %d %B %Y')}}</span>
				</p>
			</div>
			<div class="flex-w flex-c-m cd100 wsize1 m-lr-auto">
				<div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
					<span class="l1-txt3 p-b-9 days"></span>
					<span class="s1-txt2">Days</span>
				</div>

				<div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
					<span class="l1-txt3 p-b-9 hours"></span>
					<span class="s1-txt2">Hours</span>
				</div>

				<div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
					<span class="l1-txt3 p-b-9 minutes"></span>
					<span class="s1-txt2">Minutes</span>
				</div>

				<div class="flex-col-c-m size2 bor1 m-l-10 m-r-10 m-b-15">
					<span class="l1-txt3 p-b-9 seconds"></span>
					<span class="s1-txt2">Seconds</span>
				</div>
			</div>
			<br>
			<br>
			<div style="width:100%;margin:auto;text-align:center">
			    <a class="btn btn-lg btn-success" href="{{base_url()}}/brosur/BROSUR_ASROMO.pdf" target="_blank">DOWNLOAD BROSUR</a>
			</div>
		</div>
	</div> #}
	
	<script src="{{base_url()}}/assets/comingsoon/vendor/countdowntime/moment.min.js"></script>
	<script src="{{base_url()}}/assets/comingsoon/vendor/countdowntime/moment-timezone.min.js"></script>
	<script src="{{base_url()}}/assets/comingsoon/vendor/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="{{base_url()}}/assets/comingsoon/vendor/countdowntime/countdowntime.js"></script>
	<script>
		var tanggal_pembukaan = '{{tanggal_pembukaan}}';
		var arr_tanggal = tanggal_pembukaan.split('-');
		$('.cd100').countdown100({
			endtimeYear: arr_tanggal[0],
			endtimeMonth: arr_tanggal[1],
			endtimeDate: arr_tanggal[2],
			endtimeHours: 00,
			endtimeMinutes: 00,
			endtimeSeconds: 00
		});
	</script>

</div>
{% endblock content %}