{% extends "layout.twig" %}

{% block content %}
<div>
    <div class="banner" style="margin-bottom: 0;">
        <div class="banner-container banner-flex">
            <div class="right wrapper wrapper-right">
                <div class="image image-padding" style="background-color: #fff;">
                    <img src="{{base_url()}}/img/cover-santri.png" class="post-center" style="width: 100%;">
                </div>
            </div>
            <div class="left">
                <div class="post-top post-mobile-none">
                    <div style="width: 100%;">
                        <div style="width: 85%;">
                            <h1 class="fonts fonts-42px bold black no-line-height">
                                PSB Online Santi Asromo 
                            </h1>
                        </div>
                        <div class="bottom-line"></div>
                        <div class="width width-90 width-mobile" style="margin-bottom: 40px;">
                            <p class="fonts fonts-16px grey">
                                Selamat datang calon santri baru Pondok Mufidah Santi Asromo. Perhatikan semua informasi mengenai pendaftaran sebelum anda mulai mendaftar.
                            </p>
                        </div>
                    </div>
                    <div style="width: 100%;">
                        <div class="display-flex">
                            <a href="{{base_url()}}/pendaftaran" class="btn btn-main" style="margin-left: 0; margin-right: 10px;">
                                Daftar Sekarang
                            </a>
                            <a href="http://santiasromo.or.id/" target="_blank" class="btn btn-sekunder" style="margin-left: 0; margin-right: 10px;">
                                Info Lebih Lanjut
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="medium-screen" style="padding-top: 50px; padding-bottom: 0;">
        <div class="card full-rounded bg-white box-shadow" style="overflow: unset;">
            <div class="float-left-icon bg-main">
                <i class="fl-icn fa fa-lg fa-bullhorn" style="color: #fff;"></i>
            </div>
            <div style="position: relative; padding: 15px; padding-top: 40px;">
                <div style="padding-bottom: 30px;">
                    <div class="fonts fonts-12 black semibold" style="margin-bottom: 15px;">Penerimaan Santri Baru (PSB) Ponpes Santi Asromo</div>
                    <div class="fonts fonts-11 black">Dengan ini panitia penerimaan santri baru (PSB) Ponpes Mufidah Santi Asromo menginformasikan bahwasanya seleksi PSB Santi Asromo 2021 dilaksanakan pada tanggal <b>25 April 2021 (SMP SMA) dan 13 Juni 2021 (SMA)</b> dengan teknis pelaksanaan sebagai berikut :</div>
                </div>

                <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                    <div class="number small-number green">
                        <div class="val">1</div>
                    </div>
                    <div class="info">
                        <div style="padding: 0 15px;">
                            <div class="fonts fonts-11 black">Test potensi akademik dilaksanakan secara online dengan tautan (link) yang akan diinformasikan via WhatsApp ke nomor santri atau orangtua sehari sebelum pelaksanaan test.</div>
                        </div>
                    </div>
                </div>

                <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                    <div class="number small-number green">
                        <div class="val">2</div>
                    </div>
                    <div class="info">
                        <div style="padding: 0 15px;">
                            <div class="fonts fonts-11 black">Test baca Qur'an menggunakan Video Call Via WhatsApp.</div>
                        </div>
                    </div>
                </div>

                <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                    <div class="number small-number green">
                        <div class="val">3</div>
                    </div>
                    <div class="info">
                        <div style="padding: 0 15px;">
                            <div class="fonts fonts-11 black">Informasi Selanjutnya Bisa hubungi +62 8132 3014 481.</div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="position: relative; padding: 15px; padding-top: 30px;">
                <div style="padding-bottom: 15px;">
                    <div class="fonts fonts-12 black semibold" style="margin-bottom: 5px;">Jika mendapat kesulitan dalam pendaftaran silahkan hubungi:</div>
                </div>

                <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                    <div class="number small-number green">
                        <div class="val"><i class="fa fa-lw fa-phone"></i></div>
                    </div>
                    <div class="info">
                        <div style="padding: 0 15px;">
                            <div class="fonts fonts-11 black">+62 8131 2779 494 (Ust Ahmad Ubaidillah)</div>
                        </div>
                    </div>
                </div>

                <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                    <div class="number small-number green">
                        <div class="val"><i class="fa fa-lw fa-phone"></i></div>
                    </div>
                    <div class="info">
                        <div style="padding: 0 15px;">
                            <div class="fonts fonts-11 black">+62 8131 0134 141 (Ustadzah Desi Susilawati)</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div> 

    <div class="main-screen" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height" style="margin-bottom: 10px;">Benefit</h2>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Dapatkan juga 3 benefit berikut ini.</p>
                </div>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
        <div class="width width-full display-flex display-mobile wrap">
            {% for dt in benefit %}
                <div class="width width-row-3">
                    <div style="padding: 15px;">
                        <div class="card box-shadow full-rounded bg-white">
                            <div style="position: relative; padding: 15px;">
                                <div v-if="dt.isNew" class="display-flex" style="position: absolute; top: 0; right: 0;">
                                    <div class="card-value">
                                        <i class="fa fa-lw fa-star"></i>
                                        Baru 
                                    </div>
                                </div>
                                <div class="width width-100" style="padding-top: 30px; padding-bottom: 50px;">
                                    <div class="width width-100-px width-center">
                                        <div class="image image-padding" style="background-color: #f0f0f0;">
                                            <img src="{{ dt.image }}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="fonts fonts-14 black semibold fonts-center" style="margin-bottom: 10px;">{{ dt.title }}</div>
                                {% for sb in dt.desc %}
                                    <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                        <div class="number small-number green">
                                            <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                        </div>
                                        <div class="info">
                                            <div style="padding: 0 15px;">
                                                <div class="fonts fonts-12 black regular">{{ sb.desc }}</div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div> 
                </div>
            {% endfor %}
        </div> 
    </div>

    <div class="main-screen" style="margin-top: 100px; margin-bottom: 100px;">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height" style="margin-bottom: 10px;">VISI & MISI</h2>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Berikut VISI dan MISI dari Santi Asromo</p>
                </div>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
            </div>
        </div>
        <div class="width width-full display-flex display-mobile">

            <div class="width width-row-2">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white">
                        <div style="position: relative; padding: 15px;">
                            <div class="fonts fonts-26 black semibold fonts-center">VISI</div>
                            <div class="display-flex column center align-center" style="height: 282px;">
                                <div class="fonts fonts-20 black regular fonts-center">
                                    Menjadikan Santi Asromo sebagai institusi yang memiliki keunggulan dalam mewujudkan “santri lucu”
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

            <div class="width width-row-2">
                <div style="padding: 15px;">
                    <div class="card box-shadow full-rounded bg-white">
                        <div style="position: relative; padding: 15px;">
                            <div class="fonts fonts-26 black semibold fonts-center">MISI</div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Mewujudkan Aqidah Ahlusunnah wal jamaah</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Mewujudkan keimanan yang kokoh</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Menjalankan Ibadah sesuai dengan syariat</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Keluasan Ilmu Pengetahuan</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Memiliki kepakaan sosial dan sikap tasammuh</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Membiasakan dan melaksanakan kemuliaan akhlaq</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val"><i class="fa fa-lw fa-check"></i></div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-12 black regular">Mengembangkan kemampuan Leadership Entreperunership dan kemandirian</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </div>

</div>
{% endblock content %}