<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Pendaftaran santri asromo online">
  <meta name="author" content="Ganjar hadiatna">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/main/icons/fontawesome/css/all.min.css">
  <link rel='stylesheet' type='text/css' href='{{base_url()}}/assets/main/sass/app.css'/>
  <script src="{{base_url()}}/assets/js/jquery.min.js"></script>
  <script src="{{base_url()}}/assets/js/proper.min.js"></script>
  <script src="{{base_url()}}/assets/js/moment.min.js"></script>
  <script src="{{base_url()}}/assets/js/sweetalert.js"></script>
  <script>
    jQuery(document).ready(function() {
        $('#open-sidebar').click(() => {
            $('#main-navbar').attr('class', 'hc-info open')
        });
        $('#close-sidebar').click(() => {
            $('#main-navbar').attr('class', 'hc-info')
        });
        $('#open-panduan-pendaftaran').click(() => {
            $('#panduan-pendaftaran').fadeIn();
            document.body.style.overflowY = 'hidden';
        });
        $('#close-panduan-pendaftaran').click(() => {
            $('#panduan-pendaftaran').fadeOut();
            document.body.style.overflowY = 'auto';
        });
    });
  </script>
</head>
<body>
  <div id="app">
    <div id="header">
        <div id="header-container">
            <div class="hc-logo">
                <a href="{{base_url()}}">
                    <img src="{{base_url()}}/img/logo2.png">
                </a>
            </div>
            <div class="hc-open">
                <button class="btn btn-icon btn-white" id="open-sidebar">
                    <i class="fa fa-lg fa-bars"></i>
                </button>
            </div>
            <div class="hc-info" id="main-navbar">
                <div class="display-flex display-mobile">
                    <div class="hc-menu-mobile">
                        <div class="display-flex space-between align-center">
                            <div class="fonts fonts-11 black semibold">
                                Menu
                            </div>
                            <button class="btn btn-icon btn-white" id="close-sidebar">
                                <i class="fa fa-lg fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="hc-menu">
                        <div class="hc-navigator display-flex display-mobile" style="margin-right: 0;">
                            <ul class="navbar">
                                <li class="{{active == 'home' ? 'active' : ''}}">
                                    <a href="{{base_url()}}">
                                        Beranda
                                    </a>
                                </li>
                                <li class="{{active == 'selayang' ? 'active' : ''}}">
                                    <a href="{{base_url()}}/selayang-pandang">
                                        Selayang Pandang
                                    </a>
                                </li>
                                {# <li class="{{active == 'agenda' ? 'active' : ''}}">
                                    <a href="{{base_url()}}/agenda-psb">
                                        Agenda PSB
                                    </a>
                                </li> #}
                                <li class="{{active == 'biaya' ? 'active' : ''}}">
                                    <a href="{{base_url()}}/biaya-pendidikan">
                                        Biaya Pendidikan
                                    </a>
                                </li>
                                {# <li class="{{active == 'panduan' ? 'active' : ''}}">
                                    <a href="{{base_url()}}/panduan">
                                        Panduan Pendaftaran
                                    </a>
                                </li> #}
                                <li id="open-panduan-pendaftaran">
                                    <div>
                                        Panduan Pendaftaran
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        Lainnya
                                        <i class="icn fa fa-lw fa-caret-down"></i>
                                    </div>
                                    <ul>
                                        <li class="{{active == 'agenda' ? 'active' : ''}}">
                                            <a href="{{base_url()}}/agenda-psb">
                                                Agenda PSB
                                            </a>
                                        </li>
                                        <li class="{{active == 'persyaratan' ? 'active' : ''}}">
                                            <a href="{{base_url()}}/persyaratan">
                                                Persyaratan Pendaftaran 
                                            </a>
                                        </li>
                                        <li class="{{active == 'list-pendaftar' ? 'active' : ''}}">
                                            <a href="{{base_url()}}/list-pendaftar">
                                                Lihat Pendaftar 
                                            </a>
                                        </li>
                                        <li class="{{active == 'cetak-kartu' ? 'active' : ''}}">
                                            <a href="{{base_url()}}/cetak-kartu">
                                                Cetak Kartu 
                                            </a>
                                        </li>
                                        <li class="{{active == 'hasil-seleksi' ? 'active' : ''}}">
                                            <a href="{{base_url()}}/hasil-seleksi">
                                                Lihat Hasil Seleksi 
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                {# <li>
                                    <a href="/">
                                        INFO LANJUT   
                                    </a>
                                </li> #}
                            </ul>
                            <div style="margin-left: 15px; margin-right: 15px;">
                                <a href="{{base_url()}}/pendaftaran">
                                    <button class="btn btn-main">
                                        Daftar Sekarang
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body">
        {% block content %} {% endblock %}
    </div> 
    <div id="footer">
        <div id="footer-content">
            <div class="width width-30 width-mobile footer-center">
                <img 
                    src="{{base_url()}}/img/logo2.png"
                    style="
                        position: relative; 
                        height: 50px;
                        margin-bottom: 20px;
                    ">
                <img 
                    src="{{base_url()}}/img/logo3.png" 
                    style="
                        position: relative; 
                        height: 50px;
                        margin-left: 15px;
                        margin-bottom: 20px;
                    ">
                <div class="fonts fonts-10 grey">This Site All Rights Reserved @2021</div>
                <div class="fonts fonts-10 grey">Pondok Mufidah Santi Asromo Islamic Boarding School</div>
                <div style="margin-bottom: 30px;">
                    <span class="fonts fonts-10 grey">Powered by</span>
                    <span class="fonts fonts-10 black smibold">Finger Technology</span>
                </div>
            </div>

            <div class="width width-45 width-mobile display-flex display-mobile space-between" style="margin-bottom: 30px;">
                <div class="width width-50 width-mobile footer-center" style="margin-bottom: 15px;">
                    <div class="fonts fonts-13px grey" style="margin-bottom: 10px;">Lainnya</div>
                    <ul class="menu-list transparent">
                        <li class="ml-list">
                            <a href="http://santiasromo.or.id/" target="_blank" class="ml-link">
                                Info Lebih Lanjut
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="width width-50 width-mobile footer-center">
                    <div class="fonts fonts-13px grey" style="margin-bottom: 10px;">Kontak</div>
                    <ul class="menu-list transparent">
                        <li class="ml-list">
                            <a href="tel:+62 8131 2779 494" class="ml-link">
                                +62 8131 2779 494
                            </a>
                        </li>
                        <li class="ml-list">
                            <a href="tel:+62 8131 0134 141" class="ml-link">
                                +62 8131 0134 141
                            </a>
                        </li>
                        {# <li class="ml-list">
                            <a href="mailto:admin@psbsantiasromo.com" class="ml-link">
                                admin@psbsantiasromo.com
                            </a>
                        </li> #}
                    </ul>
                </div>
            </div>

            <div class="width width-13 width-mobile footer-center">
                <div class="fonts fonts-13px grey" style="margin-bottom: 15px;">Sosial Media</div>
                <div class="display-flex mobile-center" style="margin-bottom: 15px;">
                    <a href="https://instagram.com/ponpes_santiasromo" target="_blank" style="margin-right: 5px;">
                        <button class="btn btn-icon btn-small-radius btn-sekunder">
                            <i class="fab fa-lg fa-facebook"></i>
                        </button>
                    </a>
                    <a href="https://www.facebook.com/PondokMufidahSantiAsromo/" target="_blank" style="margin-right: 5px;">
                        <button class="btn btn-icon btn-small-radius btn-sekunder">
                            <i class="fab fa-lg fa-instagram"></i>
                        </button>
                    </a>
                    <a href="https://www.santiasromo.or.id" target="_blank">
                        <button class="btn btn-icon btn-small-radius btn-sekunder">
                            <i class="fa fa-lg fa-globe"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="display-popup" style="display: none;" id="panduan-pendaftaran">
        <div class="medium-screen">
            <div class="card box-shadow bg-white full-rounded" style="margin-top: 30px; margin-bottom: 30px;">
                <div class="display-flex align-right">
                    <button class="btn btn-icon btn-white" id="close-panduan-pendaftaran">
                        <i class="fa fa-lg fa-times"></i>
                    </button>
                </div>
                <div class="display-flex space-between align-center display-mobile border-bottom" style="padding-bottom: 20px; margin-top: 15px; margin-bottom: 15px;">
                    <div class="width width-50 width-mobile" style="padding-top: 30px; padding-bottom: 30px;">
                        <img src="https://www.nurulfikri.co/bimbel/wp-content/uploads/2020/11/daftar-online-01.png" style="width: 100%;" />
                    </div>
                    <div class="width width-45 width-mobile">
                        <h2 class="fonts fonts-20 bold black no-line-height">Panduan Pendaftaran</h2>
                        <div class="display-flex">
                            <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                        </div>
                        <div class="width width-100 width-center">
                            <p class="fonts fonts-10 grey">Berikut panduan alur pendaftaran online Santi Asromo</p>
                        </div>

                        <div style="padding-top: 30px;">
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">1</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Pastikan anda sudah mempersiapkan persyaratan untuk pendaftaran. (NISN, NIK Nomor Induk Keluarga, File foto calon santri, Alamat, Nomor HP orangtua yang tersambung ke whatsapp).
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">2</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Klik tautan MULAI PENDAFTARAN di menu PENDAFTARAN PSB ONLINE SANTI ASROMO.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">3</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Isi form pendaftaran dengan lengkap, teliti dan hati-hati pada HALAMAN FORMULIR PENDAFTARAN.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">4</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Jika sudah selesai di isi, tekan tombol SUBMIT.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">5</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Secepatnya ditransferkan biaya pendaftaran.
                                        </div>
                                        <div class="fonts fonts-10 black semibold">
                                            (Jumlah transfer harus sesuai dengan yang tertera setelah klik SUBMIT).
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">6</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-11 black regular">
                                            Kirim bukti transfer via WA ke salah satu nomor berikut:
                                        </div>
                                        <div class="fonts fonts-11 black regular">
                                            - +62 8131 2779 494 (Ust Ahmad Ubaidillah)
                                        </div>
                                        <div class="fonts fonts-11 black regular">
                                            - +62 8131 0134 141 (Ustadzah Desi Susilawati)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">7</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Setelah konfirmasi, tunggu pemberitahuan VIA WA atau SMS bahwa transfer telah sukses.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">8</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Silahkan Cetak KARTU TES di tautan CETAK KARTU di menu PENDAFTARAN PSB ONLINE. pilih nama calon peserta tes dan Cetak kartu tes yang muncul.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-step" style="padding-top: 5px; padding-bottom: 8px;">
                                <div class="number small-number green">
                                    <div class="val">9</div>
                                </div>
                                <div class="info">
                                    <div style="padding: 0 15px;">
                                        <div class="fonts fonts-10 black">
                                            Silahkan mengklik tautan dibawah ini untuk mulai pendaftaran
                                        </div>
                                        <div class="display-flex" style="margin-top: 10px;">
                                            <a href="{{base_url()}}/pendaftaran" class="btn btn-main" style="margin-left: 0; margin-right: 10px;">
                                                Daftar Sekarang
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 30px; margin-bottom: 20px;">
                    <div class="width width-full width-mobile">
                        <div class="card box-shadow bg-grey" style="overflow: unset;">
                            <div class="fonts fonts-10 black semibold" style="margin-top: 0; margin-bottom: 10px;">
                                Pembayaran dapat dilakukan melalui transafer ke rekening Mandiri Syariah (Kode Bank: 451)
                            </div>
                            <div class="display-flex width width-60 width-mobile">
                                <div class="width width-30 fonts fonts-10 black">No.Rek</div>
                                <div class="width width-2 fonts fonts-10 black">:</div>
                                <div class="width width-68 fonts fonts-10 semibold black">6000 1932 06</div>
                            </div>
                            <div class="display-flex width width-60 width-mobile">
                                <div class="width width-30 fonts fonts-10 black">Atas Nama</div>
                                <div class="width width-2 fonts fonts-10 black">:</div>
                                <div class="width width-68 fonts fonts-10 semibold black">PONDOK MUFIDAH SANTI ASROMO</div>
                            </div>
                            <div class="fonts fonts-10 black regular" style="margin-top: 10px;">
                                Atau bisa membayar langsung ke bagian keuangan sekretariat PONDOK MUFIDAH SANTI ASROMO.
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>    

  </div>
</body>

</html>