{% extends "layout.twig" %}

{% block content %}
<style type="text/css">
	.table td, .table th {
	    padding: .40rem;
	    vertical-align: top;
	    border: none !important;
	}
	#my_camera{
	 	display: inline-block;
	}
	#outer {
	  width: 100%;
	  text-align: center;
	}
	.div-img-container{
	    height:200px;width:150px;position:relative;overflow: hidden;
	}

	.div-img{
	    position: absolute;top: -9999px;left: -9999px;right: -9999px;bottom: -9999px;margin: auto;
	}
	.error {
	  color: #F00;
	  /*background-color: #FFF;*/
	}
	.display-none {
	    display: none;
	}
</style>
<link rel='stylesheet' type='text/css' href='{{base_url()}}/assets/css/select2.min.css'/>
<link rel='stylesheet' type='text/css' href='{{base_url()}}/assets/css/select2-bs4.min.css'/>
<link rel='stylesheet' type='text/css' href='{{base_url()}}/assets/crop/croppie.css'/>
<script src="{{base_url()}}/assets/js/validate.min.js"></script>
<script type="text/javascript" src="{{base_url()}}/assets/js/select2.min.js"></script>
<script type="text/javascript" src="{{base_url()}}/assets/js/webcam.min.js"></script>
<script type="text/javascript" src="{{base_url()}}/assets/crop/croppie.min.js"></script>
<script type="text/javascript" src="{{base_url()}}/assets/js/pendaftaran.js?v=4"></script>

{# <div class="modal" id="modal_take">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Take Photo</h4>
				<button type="button" class="close" id="close_take_modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body" id="outer">
		        <div id="my_camera"></div>
		        <img id="image_prev" hidden alt="">
		        <br>
		        <div id="snap_foto_div">
		        	<button id="snap_foto" type="button" class="btn btn-primary btn-block">Take</button>
		        </div>
		        <div id="snap_ok_div" class="row">
		        	<button id="snap_ok" type="button" class="btn btn-success col-md-6">Ok</button>
		        	<button id="snap_again" type="button" class="btn btn-danger col-md-6">Cancel</button>
		        </div>
		    </div>

		</div>
	</div>
</div> #}

<div class="display-popups bg-white">
	<div class="medium-screen">
        <div class="self-padding" style="padding-bottom: 0;">
            <div class="space space-center">
                <h2 class="fonts fonts-32px bold black no-line-height">Formulir Pendaftaran</h2>
                <div class="display-flex center">
                    <div class="bottom-line" style="margin-top: 15px; margin-bottom: 15px;"></div>
                </div>
                <div class="width width-90 width-center">
                    <p class="fonts fonts-16px grey">Isi formulir dengan teliti dan benar</p>
                </div>
            </div>
        </div>
    </div>

	<form class="medium-screen" id="myform" method="post" action="{{base_url()}}/submit_pdftr">
		<div class="card box-shadow" style="margin-bottom: 30px;">
			<div style="padding: 15px;">
				<h4 class="fonts fonts-14 black">1. Kategori Calon Santri</h4>
				<div class="display-flex align-center" style="padding-top: 30px;">
					<div class="width width-28 fonts fonts-11 black">Untuk Jenjang</div>
					<div class="width width-2 fonts fonts-11 black">:</div>
					<div class="width width-70">
						<select id="jenjang" name="jenjang" class="slc slc-sekunder" required>
						    <option disabled selected hidden value="">---Pilih jenjang pendidikan---</option>
							{#<option value="SMP">SMP</option>#}
							<option value="SMA">SMA</option>
						</select>
					</div>
				</div>
				<div class="display-flex align-center" style="padding-top: 15px;">
					<div class="width width-28 fonts fonts-11 black">Kategori Santri</div>
					<div class="width width-2 fonts fonts-11 black">:</div>
					<div class="width width-70">
						<select id="kategori" name="kategori_pendaftaran" class="slc slc-sekunder" required>
						    <option disabled selected hidden value="">---Pilih kategori pendaftaran---</option>
							<option value="SANTRI BARU">SANTRI BARU</option>
							<option value="SANTRI PINDAHAN">SANTRI PINDAHAN</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="card box-shadow" style="margin-bottom: 30px;">
			<div style="padding: 15px;">
				<h4 class="fonts fonts-14 black">2. Data Calon Santri</h4>
				<div class="display-flex space-between" style="padding-top: 30px;">
					<div class="width width-25">
						<div style="margin-bottom: 15px;" class="display-flex center">
							<img width="150" height="200" id="image" name="image" src="{{base_url()}}/img/avatar.jpeg" alt=""><br>
						</div> 
			          	{% if status_button == '1' %}
						  	<label style="margin-bottom: 0px" class="btn btn-main">
								Browse Foto
								<input style="width:150px;display:none" id="file" name="file" accept=".jpg,.png" type="file"/>
							</label>
							<button type="button" id="take_foto" style="margin-top: 10px" class="btn btn-sekunder btn-full">Ambil Foto</button>
							<br>
    						<span class="fonts fonts-10 center error"><i>Limit size (500 KB)</i></span>
    						<input type="text" id="filename" name="filename" hidden/>
					    {% else %}
					        <button type="button" disabled style="margin-bottom: 0px" class="btn btn-main btn-full">Browse Foto</button>
    						<button type="button" disabled style="margin-top: 10px" class="btn btn-sekunder btn-full">Ambil Foto</button>
							<br>
    						<span class="fonts fonts-10 center error"><i>Limit size (500 KB)</i></span>
					    {% endif %}
					</div>
					<div class="width width-70">
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Nama lengkap</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<input id="nama" uppercase type="text" class="field field-sekunder" placeholder="Nama Lengkap" name="nama" required/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">NIK Santri</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<input uppercase type="text" class="field field-sekunder" placeholder="Nomor induk siswa nasional (Wajib Di isi)" name="nisn" minlength="10" maxlength="10" required/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Asal Sekolah</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<select id="asal_sekolah" name="asal_sekolah" class="slc slc-sekunder" required></select>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 0;">
							<label class="width width-28 fonts fonts-11 black">Nama Sekolah</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<input type="text" class="field field-sekunder" placeholder="Nama sekolah" name="nama_sekolah" uppercase required/>
							</div>
						</div>
						
						<div class="border-bottom" style="padding-top: 30px; margin-bottom: 30px;"></div>

						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Nama Panggilan</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<input uppercase type="text" class="field field-sekunder" placeholder="Nama Panggilan siswa" name="nama_panggilan" required/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Jenis Kelamin</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<select name="jenis_kelamin" class="slc slc-sekunder" required>
									<option disabled selected hidden value="">---Pilih jenis kelamin---</option>
									<option value="LAKI - LAKI">LAKI - LAKI</option>
									<option value="PEREMPUAN">PEREMPUAN</option>
								</select>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Tempat Lahir</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<input uppercase type="text" class="field field-sekunder" placeholder="Tempat kelahiran" name="tempat_lahir" required/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Tanggal Lahir</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70 display-flex space-between">
								<div class="width width-31">
									<select name="tahun_lahir" id="tahun_lahir" class="slc slc-sekunder" required></select>
								</div>
								<div class="width width-31">
									<select name="bulan_lahir" id="bulan_lahir" class="slc slc-sekunder" required></select>
								</div>
								<div class="width width-31">
									<select name="hari_lahir" id="hari_lahir" class="slc slc-sekunder" required></select>
								</div>
								<input hidden name="tanggal_lahir" />
							</div>
						</div>
						<div class="display-flex" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Alamat</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<textarea style="min-height:70px" class="field field-sekunder field-textarea" placeholder="Jalan / RT / RW / Dusun / Blok" name="alamat" required></textarea>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Provinsi</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<select id="provinsi" class="slc slc-sekunder" required></select>
						      	<input hidden name="provinsi"/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Kabupaten</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<select id="kabupaten" class="slc slc-sekunder" required></select>
						      	<input hidden name="kabupaten"/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Kecamatan</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
							<div class="width width-70">
								<select id="kecamatan" class="slc slc-sekunder" required></select>
						      	<input hidden name="kecamatan"/>
							</div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 15px;">
							<label class="width width-28 fonts fonts-11 black">Kelurahan</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
						    <div class="width width-70">
						    	<select id="kelurahan" class="slc slc-sekunder" required></select>
						    	<input hidden name="kelurahan"/>
						    </div>
						</div>
						<div class="display-flex align-center" style="margin-bottom: 30px;">
							<label class="width width-28 fonts fonts-11 black">Kode Pos</label>
							<label class="width width-2 fonts fonts-11 black">:</label>
						    <div class="width width-70">
						    	<input type="number" class="field field-sekunder" placeholder="Kode Pos" name="kode_pos" required/>
						    </div>
						</div>
						<div class="display-flex align-center">
							<label class="fonts fonts-10 error">
								<i>*) Keterangan : Alamat yang di isikan adalah alamat sesuai dengan KK/KTP Orang Tua/Wali</i>
							</label>
						</div>

					</div>
				</div>
			</div> 
		</div> 

		<div class="card box-shadow" style="margin-bottom: 30px;">
			<div style="padding: 15px;">
				<h4 class="fonts fonts-14 black">3. Data Orang Tua / Wali</h4>
				<div style="padding-top: 30px;"> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Nama Ibu</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<input uppercase placeholder="Nama ibu" type="text" class="field field-sekunder" name="nama_ibu" required/>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Nama Ayah</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<input uppercase placeholder="Nama ayah" type="text" class="field field-sekunder" name="nama_ayah" required/>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Nama Wali</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<input uppercase placeholder="Nama wali" type="text" class="field field-sekunder" name="nama_wali" required/>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Pendidikan Ibu</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<select name="pendidikan_ibu" id="pendidikan_ibu" class="slc slc-sekunder"></select>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Pendidikan Ayah</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<select name="pendidikan_ayah" id="pendidikan_ayah" class="slc slc-sekunder"></select>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Pekerjaan Ibu</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<input uppercase class="field field-sekunder" type="text" placeholder="Pekerjaan ibu" name="pekerjaan_ibu" required/>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 0;">
						<label class="width width-28 fonts fonts-11 black">Pekerjaan Ayah</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<input uppercase type="text" class="field field-sekunder" placeholder="Pekerjaan ayah" name="pekerjaan_ayah" required/>
						</div>
					</div> 
					
					<div class="border-bottom" style="padding-top: 30px; margin-bottom: 30px;"></div>

					<div class="display-flex" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Alamat Orang Tua</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<textarea style="min-height:70px" class="field field-sekunder field-textarea" name="alamat_ortu" placeholder="Jalan / RT / RW / Dusun / Blok"></textarea>
						</div>
					</div> 
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Provinsi Orang Tua</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<select id="provinsi_ortu" class="slc slc-sekunder" required></select>
					      	<input hidden name="provinsi_ortu"/>
						</div>
					</div>
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Kabupaten Orang Tua</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<select id="kabupaten_ortu" class="slc slc-sekunder" required></select>
					      	<input hidden name="kabupaten_ortu"/>
						</div>
					</div>
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Kecamatan Orang Tua</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<select id="kecamatan_ortu" class="slc slc-sekunder" required></select>
					      	<input hidden name="kecamatan_ortu"/>
						</div>
					</div>
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">Kelurahan Orang Tua</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
					    <div class="width width-70">
					    	<select id="kelurahan_ortu" class="slc slc-sekunder" required></select>
					    	<input hidden name="kelurahan_ortu"/>
					    </div>
					</div>
					<div class="display-flex align-center" style="margin-bottom: 15px;">
						<label class="width width-28 fonts fonts-11 black">No. HP Orang Tua</label>
						<label class="width width-2 fonts fonts-11 black">:</label>
						<div class="width width-70">
							<input type="tel" class="field field-sekunder" placeholder="Nomor Hp yang aktif orangtua yang tersambung whatsapp" name="no_hp" required/>
						</div>
					</div> 
				</div>
			</div>
		</div> 

		<div class="medium-screen">
			<div class="display-flex right">
				{# <button type="button" class="btn btn-primary" style="width: 100px;">
					CANCEL
				</button> #}
				<button type="submit" class="btn btn-main" style="width: 100px; margin-left: 10px;">
					SUBMIT 
				</button>
			</div>
		</div> 

		{# <div style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: #fff;" class="box-shadow">
			<div class="medium-screen">
				<div class="display-flex right" style="padding: 20px 15px;">
					<button type="button" class="btn btn-primary" style="width: 100px;">
						CANCEL
					</button>
					<button type="submit" class="btn btn-main" style="width: 100px; margin-left: 10px;">
						SUBMIT 
					</button>
				</div>
			</div>
		</div> #}
	</form>
</div> 
{% endblock content %}