<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/comingsoon/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/comingsoon/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/comingsoon/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/comingsoon/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/comingsoon/css/util.css">
	<link rel="stylesheet" type="text/css" href="{{base_url()}}/assets/comingsoon/css/main.css">
<!--===============================================================================================-->
</head>
<body>
 {#   <div style="width:100%;text-align:center">#}
 {#   <img style="height:100vh" src="https://psbonlinesantiasromo.or.id/img/IMG_20191104_123207_787.jpeg"/>#}
	{#</div>#}
	
	<div class="bg-img1 size1 overlay1">
		<div class="size1 p-l-15 p-r-15 p-t-30 p-b-50">
			<br>
			<br>
			<br>
			<div class="wsize1 m-lr-auto">
				<p class="txt-center l1-txt1 p-b-60">
					Pendaftaran Online Santi Asromo telah ditutup
				</p>
			</div>
			
		</div>
	</div>



	

<!--===============================================================================================-->	
	<script src="{{base_url()}}/assets/comingsoon/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="{{base_url()}}/assets/comingsoon/vendor/bootstrap/js/popper.js"></script>
	<script src="{{base_url()}}/assets/comingsoon/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>